



.footer{
    background-color: #333333;
    border-top: solid 10px #A94442;
    padding-bottom: 50px;
    padding: 50px 50px 60px 50px;
	margin-top: 80px;
   
    
    
}

.clr {
    clear: both;
}


.footer p{
    
    color: #999999;
    
}
.fa-map-marker,.fa-phone,.fa-at{
    color: #A94442;
}








.p{
    direction: rtl;
    color: #999999;
    
}

.footer h3 {
    padding-left: 20px;
    font-size: 28px;
    font-weight: 300;
    font-family: sans-serif;
    color: #A94442;
}

.footer a {
    text-decoration: none;
    color: #999999;
    list-style-type: none;
}
a:hover {
    color: #A94442;
}

.footer ul {
    text-decoration: none;
    color: #999999;
    font-family: sans-serif;
}

.footer li {
    list-style-type: none;
}

.blocks{
     float: left;
    width: 33.3%;
    
    padding: 10px;
    box-sizing: border-box;
    
}



.block3{
    
    float: left;
    width: 99.3%;
    line-height: 1.6;
    padding: 0px;
    box-sizing: border-box;
}
.block1, .block2 {
    
    float: left;
    width: 49.3%;
    padding: 0px;
    box-sizing: border-box;
    line-height: 1.6;
}

.download,.linkages{
    float: left;
   width: 32.3%;
   
   padding: 10px;
   box-sizing: border-box;
   line-height: 1.6;
}

.endfoot {
    position: left;
   
    
}

