.procurement1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 1.1;
    font-size: 1.17em;
    color: #A94442;
    text-indent: 10.3em;
    resize: horizontal;
    overflow: auto;
}

hr {
    width: 70%;
}

.div1 {
    width: 300px;
    border-style: solid solid solid outset;
    border-color: gray gray gray #A94442;
    padding: 50px;
    margin: 50px;
}